/* You can add global styles to this file, and also import other style files */

.yellow-theme {
  background: #f3b700;
}
.red-theme {
  background-color: #c40006;
}
.orange-theme {
  background-color: #ec7800;
}
.blue-theme {
  background-color: #379fcf;
}
.purple-theme {
  background-color: #9064aa;
}
.green-theme {
  background-color: #8dbf00;
}
